<ion-view view-title="Dashboard">
  <ion-content class="padding">

  <div class="list">
    <label class="item item-input item-select">
      <div class="input-label">
        Circular
      </div>
      <select>
        <option>Inverso</option>
        <option selected>Direto</option>
      </select>
    </label>
</div>

<div class="list">
    <label class="item item-input item-select">
      <div class="input-label">
        Tipo de dia
      </div>
      <select>
        <option selected>Dias úteis</option>
        <option >Sábado</option>
        <option >Férias</option>
      </select>
    </label>
</div>

    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="circular in circularesDireto" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <h2 class="ion-android-time"><b> {{circular.horario}}</b></h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-positive" ng-click="remove(chat)">
          Favoritar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
