<ion-view view-title="Home">
  <ion-content>

    <div title="Circular"></div>
    <div class="card">
      <div align="center" class="item item-divider">
        Próximos Circulares
      </div>
      <div class="item item-text-wrap">
        <h2 ><b>Direto</b> </h2>
        <p>14:40</p>
        <h2 ><b>Inverso</b> </h2>
        <p>14:35</p>
      </div>
    </div>

    <div class="card">
      <div align="center" class="item item-divider">
        Horários Favoritos
      </div>
      <div class="item item-text-wrap">
        <h2 ><b>Direto</b> </h2>
        <p>07:30</p>
        <p>07:40</p>
        <p>07:45</p>
        <p>16:45</p>
        <p>18:50</p>
        <h2 ><b>Inverso</b> </h2>
        <p>07:35</p>
        <p>16:50</p>
        <p>18:20</p>
        <p>22:15</p>
      </div>
    </div>
   <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->


  </ion-content>
</ion-view>
