<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- circular direto Tab -->
  <ion-tab title="Direto" icon-off="ion-android-bus" icon-on="ion-android-bus" href="#/tab/direto">
    <ion-nav-view name="tab-direto"></ion-nav-view>
  </ion-tab>

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-android-time" icon-on="ion-android-time" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Circular inverso Tab -->
  <ion-tab title="Inverso" icon-off="ion-android-bus" icon-on="ion-android-bus" href="#/tab/inverso">
    <ion-nav-view name="tab-inverso"></ion-nav-view>
  </ion-tab>


</ion-tabs>
